@font-face {
  font-family: 'linkedgeodesy';
  src:  url('fonts/linkedgeodesy.eot?t46i9g');
  src:  url('fonts/linkedgeodesy.eot?t46i9g#iefix') format('embedded-opentype'),
    url('fonts/linkedgeodesy.ttf?t46i9g') format('truetype'),
    url('fonts/linkedgeodesy.woff?t46i9g') format('woff'),
    url('fonts/linkedgeodesy.svg?t46i9g#linkedgeodesy') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lgicon-"], [class*=" lgicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'linkedgeodesy' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lgicon-sparqlunicorn:before {
  content: "\e90f";
}
.lgicon-meta .path1:before {
  content: "\e902";
  color: rgb(255, 255, 255);
}
.lgicon-meta .path2:before {
  content: "\e903";
  margin-left: -0.9423828125em;
  color: rgb(255, 255, 255);
}
.lgicon-meta .path3:before {
  content: "\e904";
  margin-left: -0.9423828125em;
  color: rgb(255, 255, 255);
}
.lgicon-meta .path4:before {
  content: "\e905";
  margin-left: -0.9423828125em;
  color: rgb(255, 255, 255);
}
.lgicon-meta .path5:before {
  content: "\e906";
  margin-left: -0.9423828125em;
  color: rgb(255, 255, 255);
}
.lgicon-meta .path6:before {
  content: "\e907";
  margin-left: -0.9423828125em;
  color: rgb(255, 255, 255);
}
.lgicon-meta .path7:before {
  content: "\e908";
  margin-left: -0.9423828125em;
  color: rgb(0, 0, 0);
}
.lgicon-meta .path8:before {
  content: "\e909";
  margin-left: -0.9423828125em;
  color: rgb(0, 0, 0);
}
.lgicon-meta .path9:before {
  content: "\e90a";
  margin-left: -0.9423828125em;
  color: rgb(0, 0, 0);
}
.lgicon-meta .path10:before {
  content: "\e90b";
  margin-left: -0.9423828125em;
  color: rgb(0, 0, 0);
}
.lgicon-meta .path11:before {
  content: "\e90c";
  margin-left: -0.9423828125em;
  color: rgb(0, 0, 0);
}
.lgicon-meta .path12:before {
  content: "\e90d";
  margin-left: -0.9423828125em;
  color: rgb(0, 0, 0);
}
.lgicon-alligator:before {
  content: "\e901";
}
.lgicon-topi:before {
  content: "\e90e";
}
.lgicon-amt:before {
  content: "\e900";
}
